@import '../../scss/common/colors';

.burger {
  &-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 20px;
    height: 18px;


    &:hover * {
      background-color: $hov;
    }
  }

  &-line,
  &-top,
  &-bottom {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: all .2s;

  }

  &-line.isactive{
    
  }
}