.postpage {
  padding: 100px 0 0 0;

  .post {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-height: 300px;
    border: 1px solid #056f99;
    border-radius: 5px;
    overflow: hidden;
  }

  .post-image {
    min-height: 400px;

    &:hover {
      transform: scale(1);
    }
  }

}