@import '../../scss/common/colors';

.post {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  border: 1px solid #056f99;
  min-height: 300px;
  border-radius: 5px;
  overflow: hidden;

  &-image {
    cursor: pointer;
    transition: all .2s;
    aspect-ratio: 1/1.5;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 3px;
    border-radius: 5px;
    overflow: hidden;

    &:hover {
      transform: scale(1.05);
    }
  }

  &-inner {

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
  }

  &-wrap {
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .positiveLikes,
  .negativeLikes {
    margin: 0 5px 0 0;


    &:hover {
      svg {
        transition: all .2s;
        box-shadow: 0 0 5px $success;
      }
    }

    svg {
      cursor: pointer;
      width: 25px;
      height: 25px;
      padding: 3px;
      border-radius: 100%;
    }
  }

  .negativeLikes {
    svg {
      transform: rotate(180deg);
    }
  }

  &-actions {
    display: flex;
    gap: 10px;
  }

  &-edit {
    display: grid;
    place-items: center;
    width: 15px;
    height: 15px;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    svg {
      width: 100%;
      height: 100%;
      fill: $a2;
    }
  }

  &-comments {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .post-actions {
      margin: 5px 0 0 0;
    }
  }

  &-comment {
    border: 1px solid $a2;
    border-radius: 3px;
    padding: 2px;

    span {
      font-size: 12px;
    }

    p {
      color: $deep-blue;
    }
  }

  &-addComment {
    display: grid;
    place-items: center;
    width: 18px;
    height: 18px;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &-delete {
    display: grid;
    place-items: center;
    width: 15px;
    height: 15px;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 767px) {
  .post {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 3px;

    .post-image {
      width: 100%;
      min-height: 300px;
      margin: 0 0 0 0;
    }
  }
}




{
    "_id": {
      "$oid": "673ad5c5911dbe9cf06c4336"
    }

    ,
    "title": "Hiking Northgate Peaks Trail On Kolob Terrace in Zion National Park",
    "text": "Want to get off the beaten path and visit areas of Zion National Park less traveled? This is how you do it! Northgate Peaks Tra",
    "tags": [ "trip"

    ],
    "viewsCount": 0,
    "user": {
      "$oid": "673a0785689ae65165d9d9a4"
    }

    ,
    "imageUrl": "https://res.cloudinary.com/dke0nudcz/image/upload/v1732138058/rnvw3smvf4mroxpme16u.jpg",
    "createdAt": {
      "$date": "2024-11-18T05:51:01.743Z"
    }

    ,
    "updatedAt": {
      "$date": "2024-11-20T22:20:40.446Z"
    }

    ,
    "__v": 0,
    "negativeLikes": 1,
    "positiveLikes": 3
  }