@import '../../scss/common/colors';

.editpost {
  width: 50%;
  margin: 100px auto 0;

  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0 0 0;

    &- {}

    &- {}

    &- {}
  }
}